@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100vh;
  display: grid;
  place-items: center;
  /*background-color: black;*/
}

.page-wrapper {
  /*display: grid;*/
  /* place-items: center;
  text-align: center;
  position: relative;
  top: -6%; */

  /* display: grid; */
  /* place-items: center; 垂直和水平居中 */
  /* height: 100vh; 容器高度 */

  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  height: 100vh; /* 容器高度 */
}

.content-wrapper {
  margin: 0 auto;
}

.div-display-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

h1 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5em;
  letter-spacing: -0.04em;
}

p {
  color: rgb(98, 0, 255);
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  margin: 15px 0;
}

.divider {
  color: white;
}

.icon {
  color: white;
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}

.bg_canvas {
  padding:0;
  margin:0;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.masked {
  display: block;
  /*渐变背景*/
  background-image: -webkit-linear-gradient(left, #F6F, #9CF 10%, #0FF 20%, #66F 30%, #FF3 40%, #F6F 50%, #9CF 60%, #0FF 70%,  #66F 80%, #FF3 90%, #F6F);
  color: transparent; /*文字填充色为透明*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;          /*背景剪裁为文字，只将文字显示为背景*/
  background-size: 200% 100%;            /*背景图片向水平方向扩大一倍，这样background-position才有移动与变化的空间*/
  /* 动画 */
  animation: masked-animation 6s infinite linear;
}
@keyframes masked-animation {
  0% {
    background-position: 0 0;   /*background-position 属性设置背景图像的起始位置。*/
  }
  100% {
    background-position: -100% 0;
  }
}
